/* General Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
  text-align: center;
}

/* Section Styles */
header, main, footer, section {
  padding: 20px;
}

/* Heading Styles */
h1, h2, h3 {
  color: #333; /* Dark gray */
}

h2 {
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


/* Image Styles */
img {
  max-width: 85%;
  height: auto;
  margin: 15px auto;
  display: block;
  border-radius: 10px; 
}


/* Carousel Styles */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 100%; 
}

.carousel img {
  width: calc(100% / 3); 
  height: auto;
  scroll-snap-align: start;
  margin-right: 5px; 
  object-fit: cover; 
}

/* Media Query for Carousel on Smaller Screens */
@media (max-width: 768px) {
  .carousel img {
      width: 100%; 
      margin-right: 0;
  }
}

/* Paragraph Styles */
p {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}



/* Pricing Tier Styles */
.pricing-tiers {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.tier {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 250px; /* Flexible sizing with min-width */
}

.tier ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

/* Style Premium Tiers */
.tier:nth-child(2) p:last-child, 
.tier:nth-child(3) p:last-child {
  background-color: #4CAF50; 
  color: white;
  padding: 5px 10px; 
  border-radius: 5px;
}


/* Call to Action Button */
#downloadButton {
  background-color: #4CAF50; 
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto; 
}

#downloadButton:hover {
  background-color: #3e8e41; 
}

/* ... (Your other styles) */
/* ... (Other styles) ... */
/* Reviews Section */
.reviews-section {
  margin-top: 20px; /* Add space above the reviews */
}

.review-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Snapping for smooth scrolling */
}

.review {
  min-width: 280px; /* Adjust for desired width */
  padding: 20px;
  margin-right: 15px; /* Spacing between reviews */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  text-align: center;
}


